[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
ExecStart=/home/redis-3.2.5/src/redis-server
ExecStop=/home/redis-3.2.5/src/redis-cli shutdown
Restart=always

[Install]
WantedBy=multi-user.target